[submodule "deps/networking"]
	path = deps/networking
	url = https://github.com/20k/clientservernetworking
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/20k/imgui-fork.git
[submodule "deps/imgui-sfml"]
	path = deps/imgui-sfml
	url = https://github.com/20k/imgui-sfml-fork.git
[submodule "deps/freetype2"]
	path = deps/freetype2
	url = https://github.com/ubawurinna/freetype-windows-binaries
[submodule "deps/vec"]
	path = deps/vec
	url = https://github.com/20k/funvectormaths
[submodule "deps/nauth"]
	path = deps/nauth
	url = https://github.com/20k/nauth
[submodule "deps/ndb"]
	path = deps/ndb
	url = https://github.com/20k/ndb
